:root {
    --gradientFX1: repeating-linear-gradient(to bottom, rgba(54, 54, 54, 90%), rgba(17, 17, 25, 90%)),
    radial-gradient(circle at 50% 0,
   var(--gradientC1),
   var(--gradientC2) 70.71%),
    radial-gradient(circle at 6.7% 75%,
   var(--gradientC2),
   var(--gradientC1) 70.71%),
    radial-gradient(circle at 93.3% 75%,
   var(--gradientC1),
   var(--gradientC2) 70.71%) beige;
    
}

body {
    --gradientFX1: repeating-linear-gradient(to bottom, hsla(260, 30%, 16%, 0.8), hsla(355, 24%, 21%, 0.8)),
    radial-gradient(circle at 50% 0,
   var(--gradientC1),
   var(--gradientC2) 70.71%),
    radial-gradient(circle at 6.7% 75%,
   var(--gradientC2),
   var(--gradientC1) 70.71%),
    radial-gradient(circle at 93.3% 75%,
   var(--gradientC1),
   var(--gradientC2) 70.71%) beige;

   background: var(--gradientFX1);
}

.combined-gradient1 {
    background-size: 150% 100%;
    animation: gradient 45s ease infinite;
    margin-right: 200px;
  }

    .light-theme {
        --gradientC1: hsla(0, 0%, 0%, 0.8);
        --gradientC2: hsla(0, 0%, 100%, 0.2);
        
    }
    .dark-theme {
        --gradientC1: hsla(260, 60%, 16%, 0.8);
        --gradientC2: hsla(341, 58%, 8%, 0.8);

    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }