:root {
    --gradientC1: rgba(32, 32, 32, 100%);
    --gradientC2: rgba(17, 17, 25, 100%);
}
html {
    height: 100%;
  }
  
  body {
    color:wheat;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background:
    radial-gradient(circle at 50% 0,
    var(--gradientC1),
    var(--gradientC2) 70.71%),
  radial-gradient(circle at 6.7% 75%,
    var(--gradientC2),
    var(--gradientC1) 70.71%),
  radial-gradient(circle at 93.3% 75%,
    var(--gradientC1),
    var(--gradientC2) 70.71%) beige;          
  border-radius: 50%;

  
  background-size: 150% 100%;
  animation: gradient 45s ease infinite;
  margin-right: 200px;
 
}

body.bg {
    background-image: linear-gradient(to bottom, rgb(32, 32, 32), rgb(17, 17, 25));
    opacity: 50%;      
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


  