:root {
    --gradientC1: rgba(64, 32, 128, 60%);
    --gradientC2: rgba(64, 17, 32, 60%);
}
html {
    height: 100%;
  }
  .combined-gradient1 {
    background: repeating-linear-gradient(to bottom, rgba(32, 32, 32, 90%), rgba(17, 17, 25, 90%)),
     radial-gradient(circle at 50% 0,
    var(--gradientC1),
    var(--gradientC2) 70.71%),
     radial-gradient(circle at 6.7% 75%,
    var(--gradientC2),
    var(--gradientC1) 70.71%),
     radial-gradient(circle at 93.3% 75%,
    var(--gradientC1),
    var(--gradientC2) 70.71%) beige;

    background-size: 150% 100%;
    animation: gradient 45s ease infinite;
    margin-right: 200px;
  }

body {
    color:wheat;
    height: 100%;
    margin: 0;
    overflow: hidden; 
}

a {
    color: inherit;
    text-decoration: none;
}

nav {    
    text-align: center;
    color: rgb(32, 32, 32);
    background: hsl(39, 77%, 83%);
    margin: 2vh 2vw;
    padding: 1%;
    display:table;
    box-shadow: 1vh 1vw rgb(24, 24, 24);
}

.fun {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px rgba(64, 64, 64, 30%);
    height: fit-content;
    min-width: 6em;
    margin: 2em;
    border-width: 0.5vw;
    border-style: inset;
    border-image: 
      linear-gradient(
        to bottom, 
        rgba(64, 64, 64, 30%), 
        rgba(0, 0, 0, 0)
      ) 1 100%;
}

.fun:hover{
    
     height: fit-content;
     width: calc(12vw);
     animation: growing forwards 500ms ease-in-out;
     top: 20%;
    
}

@keyframes growing {
    0%   {width: calc(4vw);  background-color: hsl(39, 77%, 63%);}
    25%  {width: calc(6vw);  background-color: hsl(39, 77%, 63%);}
    50%  {width: calc(8vw);  background-color: hsl(39, 77%, 68%);}
    75%  {width: calc(10vw); background-color: hsl(39, 77%, 78%);}
    100% {width: calc(12vw); background-color: hsl(39, 77%, 83%);}
    
}

body.bg {
    background-image: linear-gradient(to bottom, rgb(32, 32, 32), rgb(17, 17, 25));
    opacity: 50%;      
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


  