:root{
    --grey: #6d6d6d;
    --greyer: #4e4e4e;
    --light: #dadada;
    --white: #ffffff;
    --dark: #2b2b2b; 
    --darker: #111111; 
    --black: #000000; 
    }

*{
    color: var(--fontColor);
    font-family: 'Verdana';
}



body {
    background: linear-gradient(-5deg, var(--bg), var(--sidebar-color), var(--bg),var(--bg));
    background-size: 400% 400%;
    animation: gradient 120s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


    ul {
    
        font-size:16px;
        font-family: 'Trebuchet';
        font-weight: 400;
    
    }

    .framed {
        border: 3px outset;  
        border-color:      var(--fontColor);
        border-spacing: 3px;
        box-shadow: 2px 4px var(--frameShadow);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 50px));
        grid-auto-rows: max-content;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 800;

        margin: 10px;
        border-color: var(--btnBorder);

    }

    .hr-1{
        color: var(--sidebar-color);
        border-top: 3px solid var(--sidebar-color);
        border-bottom: 5px var(--greyer);
        border-bottom-style: groove;
    }

    h1 {
        font-size: 36px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        text-shadow: 3px 3px var(--font-shadow-color);
    }

    h2 {
        font-size: 28px;
        font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
        font-weight: 200;
        text-shadow: 2px 2px var(--font-shadow-color);
    }

    h3 {
        font-size: 24px;
        font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
        font-weight: 200;
        text-shadow: 2px 2px var(--font-shadow-color);
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    a {color: black; text-decoration:none; font-weight:400;}

    p {
        font-size: 18px;
        font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
        font-weight: 200;
        text-shadow: 1px 1px var(--font-shadow-color);
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: large;
        font-weight: 600;
        box-shadow: 8px 12px var(--frameShadow);
        
        top: 0px;
        left: 350px;
        height: 75px;
        width: 75px;
        border-radius: 80%;
        margin: 15px;
        border: 5px outset;
        border-color: var(--btnBorder);
        color: var(--btnFontColor);
        background-color: var(--btnBg);
        box-shadow: 8px 12px var(--frameShadow);
             
        }

    .btn2{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: large;
        font-weight: 600;
        
        top: 0px;
        left: 550px;
        height: 75px;
        width: 200px;
        border-radius: 5%;
        border-color: var(--btnBg);
        margin: 5px;
        border: 5px outset;
        border-color: var(--btnBorder);
        color: var(--btnFontColor);
        background-color: var(--btnBg);
        box-shadow: 8px 12px var(--frameShadow);
             
    }
        .btn:hover {
            background: var(--fontColor);
            background-color: var(--btnHoverColor);

            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            box-shadow: 8px 12px var(--frameShadow);
            }

        .btn2:hover {
            background: var(--fontColor);
            background-color: var(--btnHoverColor);

            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
            box-shadow: 8px 12px var(--frameShadow);           
        }
        
        .framed:hover {
            border: 6px outset;
            border-color: var(--fontColor);
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            transition: ease-in-out var(--framedDelay);
            --framedDelay: 500ms;
            animation-delay: var(--framedDelay);
            box-shadow: 3px 6px var(--frameShadow);

        }
        .btn:focus  { outline-style:outset }
        .grid:focus { outline-style:outset }
        .img:focus  { outline-style:outset }
        
    .light-theme {
        --bg: var(--grey);
        --fontColor: var(--darker);

        --btnBg: var(--dark);
        --btnFontColor: var(--white);
        --btnBorder: var(--dark);
        --btnHoverColor: var(--black);       
        
        --sidebar-color: var(--light);
        --hr-color:      var(--sidebar-color);

        --framedBorder: 3px outset var(--white);
        --font-shadow-color: var(--greyer);

        --sidebar-fontShadow: var(--btnFontColor);
        --frameShadow: var(--font-shadow-color);
    }
    .dark-theme {
        --bg: var(--dark);
        --fontColor: var(--light);

        --btnBg: var(--light);
        --btnFontColor: var(--black);
        --btnBorder: var(--dark);
        --btnHoverColor: var(--white);

        --sidebar-color: var(--grey);
        --hr-color:      var(--sidebar-color);
        
        --framedBorder: 3px outset var(--light);
        --font-shadow-color: var(--sidebar-color);

        --sidebar-fontShadow: var(--greyer);
        --frameShadow: var(--dark);
    }

    .sidebar {
        height: 12000px;
        width: 240px;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 40px;
        background-color: var(--sidebar-color);
        background-blend-mode:difference;
        border: 10px inset var(--btnBg);
        border-top: 3px inset var(--btnBg);
        border-left: 0px;
        
        text-shadow: 2px 2px var(--sidebar-fontShadow);
        
        }
        
        .sidebar div {
        padding: 10px;
        font-size: 24px;
        line-height: 60px;
        display: block;
        }
        
        .body-text {
        margin-right: 100px; 
        font-size: 16px;
        }



        .basic-grid {

            display: grid;
            gap: 20px ;
            
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        
        }

        .card {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: var(--sidebar-color);
            font-size: 30px;
            color: lavender;
            box-shadow: 0px 4px var(--sidebar-fontShadow);
            height: 100%;
            transition: var(--transformStuff) 500ms;
            
        
            background-size: cover;
            background-position: center;
            background-repeat: repeat;
            --transformStuff: translate(-6px) scale(1.02);
        }
        
        .card:hover{
            box-shadow: 2px 6px var(--bg);
            transform: var(--transformStuff);
            transition: ease-in-out 600ms;
            
            
        }