@import "background.css";
@import "sidebar.css";
@import "buttons.css";
:root{
    --grey: hsl(0, 0%, 43%);
    --greyer: hsl(0, 0%, 31%);

    --red-dark: hsl(2, 98%, 25%);
    --red-normal: hsl(2, 98%, 36%);
    --red-pastel: hsl(2, 54%, 64%);
    --red-pastel-ulight: hsl(2, 100%, 95%);
    --red-pastel-light: hsl(2, 54%, 80%);
    --red-pastel-dark: hsl(2, 54%, 40%);
    --red-pastel-darker: hsl(2, 54%, 20%);

    --light: hsl(0, 0%, 85%);
    --white: hsl(0, 0%, 100%);

    --dark: hsl(0, 0%, 17%); 
    --darker: hsl(0, 0%, 7%); 
    --black: hsl(0, 0%, 0%);
    font-family: 'Noto sans', sans-serif;
    --wavebg: url("Resources/SoundwaveW.png");
    }

*{
    color: var(--fontColor);
    font-family: 'Verdana';
}



.Title-Container {  
    margin-bottom: 3vh;
    background-repeat:round;
    background-position: fixed;
    background-position-y: 13vh;
    padding-bottom: 2vh;
    background-blend-mode:color-dodge;
    background-image: var(--wavebg);
    
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



    ul {
    
        font-size:16px;
        font-family: 'Noto sans', sans-serif;
        font-weight: 400;
    
        @media screen and (min-width: 600px) {
            div.example {
              font-size: 32px;
            }
          }

    }

    body {
        scrollbar-color: var(--gradientC1);
        scrollbar-width: thin;
    }

    h1 {
        font-family: 'Noto sans', sans-serif;
        font-weight: 400;
        text-shadow: 3px 3px var(--font-shadow-color);
        overflow: hidden;
        margin-right: 60px;
    }

    h2 {

        font-family: 'Noto sans', sans-serif;
        font-weight: 200;
        text-shadow: 2px 2px var(--font-shadow-color);
        overflow: hidden;
        margin-right: 60px;

        @media screen and (min-width: 600px) {
            div.example {
              font-size: 56px;
            }
          }
    }

    h3 {
        font-size: 24px;
        font-family: 'Noto sans', sans-serif;
        font-weight: 200;
        text-shadow: 2px 2px var(--font-shadow-color);
        overflow: hidden;
        margin-right: 0px;

    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-right: 60px;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    a {color: black; text-decoration:none; font-weight:400;}

    p {
        font-size: 18px;
        font-family: 'Noto sans', sans-serif;
        font-weight: 200;
        text-shadow: 1px 1px var(--font-shadow-color);
        margin-right: 60px;
    }

    .Title-Main {
        font-size: 36px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 2px;
        padding: 5px;

        @media screen and (min-width: 600px) {
            div.example {
              font-size: 72px;
            }
          }

    }

    .Subtitle-Main {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        font-stretch: semi-expanded;
        margin: 2px;
        padding: 5px;

        @media screen and (min-width: 600px) {
            div.example {
              font-size: 40px;
            }
          }

    }

    label {
        font-size: 22px;
        font-family: 'Noto sans', sans-serif;
        font-weight: 200;
        text-shadow: 1px 1px var(--font-shadow-color);
        
        @media screen and (min-width: 600px) {
            div.example {
              font-size: 44px;
            }
          }
    }



    .framed {
        border: 3px outset;  
        border-color:      var(--sidebar-fontShadow);
        border-spacing: 3px;
        box-shadow: 2px 4px var(--FrameShadow);
        animation: gradient ease-out 400ms;
        
        
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 9vw));
        grid-template-rows: repeat(66px);
        justify-self: center;
        align-content: center;
        text-align: center;
        
        font-family: 'Noto sans', sans-serif;
        font-weight: 800;
        
        margin: 10px;
        border-color: var(--btnBorder);
        

    }

    @media screen and (max-width: 600px) {
        .grid {
            grid-template-columns: repeat(auto-fit, minmax(200px, 120px));
            grid-template-rows: repeat(66px);
        }
      }    

    .hr-1{
        color: var(--sidebar-color);
        border-top: 3px solid var(--sidebar-color);
        border-bottom: 5px var(--sidebar-fontShadow);
        border-bottom-style: groove;
    }

    .gridtext {
        text-shadow: var(--grid-shadow);
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-family: 'Noto sans', sans-serif;
        font-size: large;
        font-weight: 600;
        box-shadow: 8px 12px var(--frameShadow);
        
        top: 0px;
        left: 350px;
        height: 75px;
        width: 75px;
        border-radius: 80%;
        margin: 15px;
        border: 5px outset;
        border-color: var(--btnBorder);
        color: var(--btnFontColor);
        background-color: var(--btnBg);
        box-shadow: 8px 12px var(--frameShadow);
             
        }

    .btn2{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-family: 'Noto sans', sans-serif;
        font-size: large;
        font-weight: 600;
        
        top: 0px;
        left: 550px;
        height: 75px;
        width: 200px;
        border-radius: 5%;
        border-color: var(--btnBg);
        margin: 5px;
        border: 5px outset;
        border-color: var(--btnBorder);
        color: var(--btnFontColor);
        background-color: var(--btnBg);
        box-shadow: 8px 12px var(--frameShadow);
             
    }
        .btn:hover {
            background: var(--fontColor);
            background-color: var(--btnHoverColor);

            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            box-shadow: 8px 12px var(--frameShadow);
            }

        .btn2:hover {
            background: var(--fontColor);
            background-color: var(--btnHoverColor);

            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
            box-shadow: 8px 12px var(--frameShadow);           
        }
    
        .framed:hover {
            border: 6px outset;
            border-color: var(--FrameShadow);
            background: var(--frameShadow);
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            transition: ease-in-out var(--framedDelay);
            --framedDelay: 300ms;
            animation-delay: var(--framedDelay) - 200ms;
            box-shadow: 3px 6px var(--frameShadow);
            

        }


        .btn:focus  { outline-style:outset }
        .grid:focus { outline-style:outset }
        .img:focus  { outline-style:outset }

      
    .light-theme {
        --bg: var(--grey);
        --fontColor: var(--darker);
        

        --btnBg: var(--red-pastel-dark);
        --btnFontColor: var(--red-pastel-ulight);
        --btnBorder: var(--red-normal);
        --btnHoverColor: var(--red-dark);       
        

        --framedBorder: 3px outset var(--white);
        --FrameShadow: var(--red-pastel);
        --font-shadow-color: var(--red-pastel);
        --grid-shadow: 2px 1px var(--font-shadow-color);

        --frameShadow: var(--font-shadow-color);
        --wavebg: url("Resources/SoundwaveW.png");


        
    }
    .dark-theme {
        --bg: var(--dark);
        --fontColor: var(--red-pastel-ulight);
        

        --btnBg: var(--red-pastel-light);
        --btnFontColor: var(--red-pastel-darker);
        --btnBorder: var(--red-dark);
        --btnHoverColor: var(--red-pastel-ulight);
        
        
        --framedBorder: 3px outset var(--light);
        --font-shadow-color: var(--sidebar-color);
        --grid-shadow: 3px 2px var(--font-shadow-color);
        --FrameShadow: var(--red-pastel-darker);

        --frameShadow: var(--red-pastel-darker);
        --wavebg: url("Resources/SoundwaveB.png");
    }

    

        .main-text {
            line-break: strict;
            
          }
        
          /* width */
        ::-webkit-scrollbar {
            width: 16px;
            background: linear-gradient(90deg, var(--sidebar-color), var(--gradientC2), var(--gradientC1),var(--gradientC1));
            animation: gradient 1s ease infinite;
          }
          ::-moz-scrollbar {
            width: 16px;
            background: linear-gradient(90deg, var(--sidebar-color), var(--gradientC2), var(--gradientC1),var(--gradientC1));
            animation: gradient 1s ease infinite;
          }
        
          
          /* Track */
          ::-webkit-scrollbar-track {
            background: var(--sidebar-color);
          }
          ::-moz-scrollbar-track {
            background: var(--sidebar-color);
          }

          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: linear-gradient(360deg, var(--sidebar-color), var(--gradientC1), var(--sidebar-color),var(--gradientC1));
            animation: gradient 1s ease infinite;
          }
          

          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: var(--sidebar-fontShadow);
          }
          ::-moz-scrollbar-thumb:hover {
            background: var(--sidebar-fontShadow);
          }
        


        